# Ignore virtual environment
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database files
*.sqlite3

# Ignore IDE/editor config files
.vscode/
.idea/
*.log

# Ignore environment variables (e.g., secret keys)
.env
*.env

# Ignore Django migrations cache
*/migrations/__pycache__/
